# Question 1

**All imports**

In [74]:
import pandas as pd
import numpy as np

**Pandas version**

In [3]:
pd.__version__

'1.4.2'

**Download data**

In [4]:
!wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv

--2023-09-17 15:21:53--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1423529 (1,4M) [text/plain]
Saving to: ‘housing.csv’

housing.csv         100%[===================>]   1,36M  3,95MB/s    in 0,3s

2023-09-17 15:21:54 (3,95 MB/s) - ‘housing.csv’ saved [1423529/1423529]

**Read the data to dataframe**

In [7]:
housing_df = pd.read_csv("housing.csv")

housing_df.head(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

# Question 2

In [12]:
housing_df.columns.size

10

# Question 3

In [32]:
housing_df.isnull().any()

longitude             False
latitude              False
housing_median_age    False
total_rooms           False
total_bedrooms         True
population            False
households            False
median_income         False
median_house_value    False
ocean_proximity       False
dtype: bool

It looks like total_bedrooms column has missing values

# Question 4

In [34]:
housing_df["ocean_proximity"].nunique()

5

# Question 5

In [45]:
bay_filter = housing_df["ocean_proximity"] == "NEAR BAY"

housing_df[bay_filter]["median_house_value"].mean()

259212.31179039303

# Question 6

In [60]:
average_bedrooms_before = housing_df["total_bedrooms"].mean()

average_bedrooms_after = housing_df["total_bedrooms"].fillna(average_bedrooms).mean()

print(f"Average bedrooms berfore fillna = {average_bedrooms_before.round(3)}, "
      f"Average bedrooms after fillna = {average_bedrooms_after.round(3)}")

Average bedrooms berfore fillna = 537.871, Average bedrooms after fillna = 537.871

# Question 7

In [79]:
island_filter = housing_df["ocean_proximity"] == "ISLAND"

island_housing_df = housing_df[island_filter]

X = island_housing_df[["housing_median_age", "total_rooms", "total_bedrooms"]].to_numpy()

XTX = X.T.dot(X) 

XTX_inverse = np.linalg.inv(XTX)

y = np.array([950, 1300, 800, 1000, 1300])

w = XTX_inverse.dot(X.T).dot(y)

w

array([23.12330961, -1.48124183,  5.69922946])